* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-family: sans-serif;
}

.btn {
    display: inline-block;
    padding: 15px 16px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: white;
    background-color: #3172b9;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.text-center {
    text-align: center;
}

/* Header */

.header {
    height: 110px;
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    margin-right: auto;
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.header-btn {
    margin-left: 80px;
}

/* Hero */

.hero-container {
    padding-top: 120px;
    padding-bottom: 130px;
}

.hero-content {
    max-width: 45%;
}

.section-hero-heading {
    margin-bottom: 20px;
}

.section-hero-description {
    margin-bottom: 30px;
}

.section-hero-btn-description {
    margin-top: 10px;
}

/* What we do */

.section-do {
    padding-top: 140px;
    padding-bottom: 100px;
}

.section-description {
    margin-top: 25px;
}

.section-do-list {
    display: flex;
    margin-top: 50px;
}

.section-do-item {
    flex: 1 1 25%;
    outline: 3px solid red;
}

.section-do-item:not(:last-child) {
    margin-right: 30px;
}

/* Our happy clients */

.section-clients {
    padding-top: 90px;
    padding-bottom: 100px;
}

.section-clients-list {
    display: flex;
}

.section-clients-item {
    flex: 1 1 33.33%;
}

.section-clients-item:not(:last-child) {
    margin-right: 30px;
}

.section-clients-user {
    display: flex;
    align-items: center;
    margin-top: 75px;
}

.section-clients-user-info {
    margin-left: 10px;
}

.section-clients-user-container {
    padding: 55px 35px 30px 35px;
    max-height: 360px;
}

.section-clients-avatar { 
    width: 60px;
    height: 60px;
    border: 2px solid #3172b9;
    border-radius: 50%;
}

/* Contacts */

.section-contacts {
    padding-top: 85px;
    padding-bottom: 95px;
}

.section-contacts-list {
    display: flex;
    margin-top: 43px;
}

.section-contacts-item {
    flex: 1 1 33.33%;
    min-width: 250px;
}

.section-contacts-info {
    min-width: 250px;
}

.section-contacts-icon {
    display: block;
    height: 26px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto 100%;
    background-color: transperent;
}

.section-contacts-icon-gps {
    background-image: url(/skillbox-hw/img/gps.png);
}

.section-contacts-icon-phone {
    background-image: url(/skillbox-hw/img/phone.png);
}

.section-contacts-icon-mail {
    background-image: url(/skillbox-hw/img/mail.png);
    background-size: auto 19px;
}

.section-contacts-heading {
    display: block;
    margin-bottom: 40px;
}

/* Footer */

.footer {
    height: 125px;
}

.footer-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.footer-logo {
    margin-right: 25px;
    align-content: center;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-right {
    margin-right: 0;
    margin-left: auto;
}

.footer-nav-list {
    display: flex;
}

.footer-nav-item:not(:last-child) {
    margin-right: 35px;
}